@import "~@angular/material/theming";

$my-primary: #558b2f;
$my-accent: #ffb74d;
$my-warn: #ff5722;

.mat-tab-link {
  color: snow;
  font-size: medium;
}
.mat-tab-link:focus {
  color: $my-accent;
  font-size: larger;
}

.mat-tab-nav-bar {
  background-color: #33691e;
  padding: 1vh 0;
}

span {
  color: $my-primary;
  font-weight: 600;
}
ul,
li {
  margin: 0px;
  padding: 0px;
}
li {
  list-style-type: none;
  .mat-icon {
    color: $my-accent;
  }

  margin-top: 1vh;
}
h3 {
  font-weight: 600;
}
